body {
    background-color: #02010a;
}


/*ESTILOS DE HEADER EN GENERAL*/

header {
    font-family: 'Dancing Script', cursive;
    background-color: #5b7989;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    animation: headerAnim 1s;
}

#cuerpo a{
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: white;
  text-decoration: none;
}


/*ESTILOS ID CABECERA*/

#cabecera {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

#cabecera .titulo1 {
    padding-left: 20px;
    text-shadow: 1px 2px 3px #02010a;
}


/*ESTILOS ANIMACIONES EN MENU*/

.menu a:link, a:visited {
    padding: 0 1px;
    text-decoration: none;
    color: white;
}

.menu a:hover, .menu a:active {
    background: hsla(188, 87%, 50%, 0.64);
    text-shadow: none !important;
    border-radius: 5px;
}


/*FIN DESARROLLO CABECERA*/


/*INICIO DEL CUERPO DE PAGINA WEB*/

#cuerpo {
  display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
    background-color: #d5c75f;
}

.banner {
    background-color: #82c3a6;
}

.banner img {
    margin: auto;
    display: block;
}
/*ESTILOS Y ANIMACION IMAGEN PAISAJE*/
.imagen1 {
  background-color: #d5c75f;
	padding-top: 3em;
	padding-bottom: 1em;
	text-align: center;

}

 .imagen1 img{
	width: 70%;
	align-items: center;
	border: black 1px solid;
	-webkit-box-shadow: 2px 2px #02010a;
	transition: 1s;
}

 .imagen1 img:hover{
	transform:  rotate(10deg);
	-webkit-box-shadow: 2px 2px #82c3a6;
	transition: 1s;
}
/*ESTILOS Y ANIMACION IMAGEN RETRATO*/
.imagen2 {
  background-color: #d5c75f;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;

}

.imagen2 img{
	width: 60%;
	align-items: center;
	border: black 1px solid;
	-webkit-box-shadow: 2px 2px #02010a;
	transition: 1s;
}

.imagen2 img:hover{
  transform:  translate(20px,  10px);
	-webkit-box-shadow: 2px 2px #82c3a6;
	transition: 1s;
}
