@media (max-width:900px) {
    #cabecera {
        margin: auto;
        padding-bottom: 15px;
    }
    .tituloprincipal {
        width: 100%;
        text-align: center;
    }
    .menu {
        width: 100%;
        text-align: center;
    }
    .nav1, .nav2, .nav3 {
        padding: 5px;
        font-size: 20px;
    }
    #cuerpo .imagen1 {
        width: 100%;
    }
    #cuerpo .imagen2 {
        width: 100%;
    }
    #footerunico .derechos .columna {
        width: 100%;
    }
}

#cuerpo .banner img {
    padding: 2vh;
    width: 90%;
}

@media (min-width: 900px) {
    #cabecera {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .tituloprincipal {
        text-align: left;
        width: 65%;
        text-indent: 10px;
    }
    .menu {
        margin-right: auto;
        text-align: right;
        width: 30%;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
    }
    .nav1, .nav2, .nav3 {
        padding: 5px;
    }
    #cuerpo {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    #cuerpo .banner img {
        padding: 2vh;
    }
    #cuerpo .imagen1 {
        width: 50%;
    }
    #cuerpo .imagen2 {
        width: 50%;
    }
    #footerunico .derechos .columna {
        width: 25%;
    }
    footer{
      width: 900px;
      margin: 0 auto;
      text-align: center;
    }
}

@-webkit-keyframes headerAnim {
    0% {
        margin-top: 150%;
    }
    60% {
        margin-top: -5%;
    }
    100% {
        margin-top: 0%;
    }
}
